{% extends "base.html" %}
{% block title %}Add Item{% endblock %}
{% block content %}
<h1>Add Item</h1>
<form method="POST" action="" class="form">
  {{ form.hidden_tag() }}
  <!-- Add Name -->
  <div class="form-group">
    {{ form.name.label(class="form-label") }}<br>
    {{ form.name(class="form-control", size=32, placeholder="What is the name of the item?") }}
  </div>
  <!-- Add Description -->
  <div class="form-group">
    {{ form.description.label(class="form-label") }}<br>
    {{ form.description(class="form-control", size=32, placeholder="Anything specific about this item?") }}
  </div>
  <!-- Add Location -->
  <div class="form-group">
    {{ form.location.label(class="form-label") }}<br>
    <div class="dropdown">
      <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="flase">
        Select Location
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for loc in locations %}
        <li><a class="dropdown-item" href="#" onclick="selectLocation('{{ loc }}')">{{ loc }}</a></li>
        {% endfor %}
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#" onclick="addNewLocation()">Add a New Location</a></li>
      </ul>
    </div>
    {{ form.location(class="form-control", size=32, id="locationInput", placeholder="What room is this in?") }}
  </div>
  <!-- Add Notes -->
  <div class="form-group">
    {{ form.notes.label(class="form-label") }}<br>
    {{ form.notes(class="form-control", placeholder="Where in the room is this item?") }}
  </div>
  <!-- Submit -->
  <div class="form-group">
    {{ form.submit(class="btn btn-primary") }}
  </div>
</form>
<a href="{{ url_for('view_items') }}" class="btn btn-secondary mt-3">Go Back</a>

<script>
  function selectLocation(location) {
    document.getElementById('locationInput').value = location;
  }

  function addNewLocation() {
    document.getElementById('locationInput').value = '';
    document.getElementById('locationInput').focus();
  }
</script>
{% endblock %}
