<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>{% block title %}Inventory App{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm">
      <a class="navbar-brand" href="{{ url_for('view_items') }}">
        <img id=icon src="{{ url_for('static', filename='icon.png') }}"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% if current_user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('view_items') }}">View Items</a></li>
            {% if current_user.is_admin %}
              <li class="nav-item"><a class="nav-link" href="{{ url_for('add_item') }}">Add Item</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('admin') }}">Admin Panel</a></li>
            {% endif %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a></li>
          {% else %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register') }}">Register</a></li>
          {% endif %}
        </ul>
        <form class="d-flex ms-auto" action="{{ url_for('view_items') }}" method="GET" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" name="search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <div class="container-fluid p-0">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="milestoneModal" tabindex="-1" aria-labelledby="milestoneModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="milestoneModalLabel">Congratulations!</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  WooHoo! You just inventoried your <span id="milestoneCount"></span> item!
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"></script>
    <script>
      function confirmDelete() {
          return confirm("Are you sure you want to delete this item? This action cannot be undone.");
      }
      function toggleAdmin(userID) {
        $.post(`/toggle_admin/${userID}`, function() {
          location.reload();
        });
      }
      
      function triggerConfetti() {
          var duration = 2 * 1000;
          var end = Date.now() + duration;

          (function frame() {
              confetti({
                  particleCount: 50,
                  angle: 60,
                  spread: 55,
                  drift: 1,
                  origin: { x: 0 },
                  zIndex: 1060
              });
              confetti({
                  particleCount: 50,
                  angle: 120,
                  spread: 55,
                  drift: -1,
                  origin: { x: 1 },
                  zIndex: 1060
              });

              if (Date.now() < end) {
                  requestAnimationFrame(frame);
              }
          }());
      }

      function showMilestoneModal(count) {
          document.getElementById('milestoneCount').innerText = count + 'th';
          var milestoneModal = new bootstrap.Modal(document.getElementById('milestoneModal'), {});
          milestoneModal.show();
      }
    </script>
  </body>
</html>
