{% extends "base.html" %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
<h2 class="p-4 text-success">Forgot Password</h2>
<hr>
<form method="POST" action="" class="form">
  {{ form.hidden_tag() }}
  <div class="form-group p-4 text-dark-emphasis bg-info-subtle border border-success-subtle rounded-5">
    {{ form.username.label(class="form-label") }}<br>
    {{ form.username(class="form-control", required=True) }}
  </div>
  <div style="margin-top: 20px" class="form-group">
    {{ form.submit(class="btn btn-success text-light bg-primary border border-primary rounded-2") }}
  </div>
</form>
{% endblock %}
