{% extends "base.html" %}

{% block title %}
  Home
{% endblock %}

{% block content %}

<div class="card-text-center">
  <div class="card">
    <img src="{{ url_for('static', filename='topBorder.jpg') }}" class="card-img-top" alt="Home Inventory Image">
    <div class="card-body">
      <h5 class="card-title p-auto">Home Inventory</h5>
      <p class="card-text">Manage this mess with ease and efficiency.</p>
      <hr class="my-4">
      {% if current_user.is_authenticated %}
        <p class="welcome">Welcome back <strong>
          {% if current_user.username == 'hu' %}
            {{ "Avery's Mom" | capitalize_first }}
          {% else %}
            {{ current_user.username | capitalize_first }}
          {% endif %}
        </strong>! Go find what you're looking for!</p>
        <a class="btn btn-success btn-lg" id="btnEnter" href="{{ url_for('view_items') }}" role="button">Enter</a>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
